*.[ao]
*.stamp
*cscope*
*~
.*.swp
/.deps
/.first-build-message
/.stamps
/Makefile.config
/bindings/python-cffi/build/
/lib/libnotmuch*.dylib
/lib/libnotmuch.so*
/notmuch
/notmuch-shared
/releases
/sh.config
/sphinx.config
/version.stamp
/bindings/python-cffi/_notmuch_config.py
TAGS
tags
