# gitignore for notmuch-deliver
.*.swp
*~
*.[oa]
*.py[co]

tags

*.lo
*.la

.deps
.libs
Makefile.in
Makefile

gmon.out
gprof*

/INSTALL
/aclocal.m4
/autom4te.cache
/config.guess
/config.h
/config.h.in
/config.log
/config.sub
/config.status
/configure
/compile
/depcomp
/install-sh
/missing
/stamp-h1
/libtool
/ltmain.sh

m4/libtool.m4
m4/lt*.m4

maildrop/numlib/config.h
src/notmuch-deliver
